.light {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin: 15px 0;
  opacity: 0.5;
  transition: 0.6s;
  cursor:pointer
}

.glow {
  opacity: 5;
  box-shadow: 0 0 50px rgba(215, 203, 203, 0.6);
}

.red { background-color: red; }
.yellow { background-color: yellow; }
.green { background-color: rgb(0, 255, 0); }
